<!DOCTYPE html>
<html>
    <body>
        
        <br>
        <h4>Dear {{name}}</h4>
        
        <p>  We would like to acknowledge that, You have assigned a ticket with  Ticket ID - <strong>TKT_{{ticket.ticket_id}}
             </strong> please check and resolve issue as soon as possible.</p>

        <p>To view the status of Ticket or add comments please visit <br> http://3.108.149.38:8004/ </p>    
        

        <br><br>
        <p>Thank you <br>Tech58 Pvt. Ltd. <br>Support Team</p>
        

        
    </body>
</html>