<!DOCTYPE html>
<html>
    <body>
        <br>
        <h4>Dear {{user.name}}</h4>
        <p> We would like to acknowledge that we've received your request and a ticket has been created with Ticket ID - <strong>TKT_{{ticketid}}</strong>.
            A support representive will be reviewing your requestand will send you a personal response </p>

        <p>To view the status of Ticket or add comments please visit <br> http://3.108.149.38:8004/ </p>    
        

        <br><br>
        <p>Thank you <br>Tech58 Pvt. Ltd. <br>Support Team</p>
        

        
    </body>
</html>